/**
 * power_bi_modelo
 * Modelo de Conector Power BI
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object DefaultApi {

  /**
   * Get Datasets In Group
   * 
   * Expected answers:
   *   code 0 : Any (default)
   * 
   * @param groupId 
   */
  def getDatasetsInGroup(groupId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/datasets", "application/json")
      .withPathParam("groupId", groupId)
      .withDefaultSuccessResponse[Any]
        /**
   * Returns a list of reports from the specified workspace
   * 
   * Expected answers:
   *   code 0 : Any (Groups)
   * 
   * @param groupId 
   */
  def getReportsInGroup(groupId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/reports", "application/json")
      .withPathParam("groupId", groupId)
      .withDefaultSuccessResponse[Any]
        /**
   * Refresh Dataflow In Group
   * 
   * Expected answers:
   *   code 0 : Any (default)
   * 
   * @param groupId 
   * @param dataflowId 
   */
  def refreshDataflow(groupId: String, dataflowId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/dataflows/{dataflowId}/refreshes", "application/json")
      .withPathParam("groupId", groupId)
      .withPathParam("dataflowId", dataflowId)
      .withDefaultSuccessResponse[Any]
        /**
   * refreshdatasetingroup
   * 
   * Expected answers:
   *   code 0 : Any (default)
   * 
   * @param groupId 
   * @param datasetId 
   */
  def refreshDatasetInGroup(groupId: String, datasetId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.POST, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/refreshes", "application/json")
      .withPathParam("groupId", groupId)
      .withPathParam("datasetId", datasetId)
      .withDefaultSuccessResponse[Any]
      

}

