/**
 * power_bi_modelo
 * Modelo de Conector Power BI
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.api

import io.swagger.client.model.InlineResponse200
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object GroupsApi {

  /**
   * Get Dataflows in Group
   * 
   * Expected answers:
   *   code 0 : Any (default)
   * 
   * @param groupId 
   */
  def getDataflowsInGroup(groupId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/dataflows", "application/json")
      .withPathParam("groupId", groupId)
      .withDefaultSuccessResponse[Any]
        /**
   * getgroupusers
   * 
   * Expected answers:
   *   code 0 : Any (Groups)
   * 
   * @param groupId 
   */
  def getGroupUsers(groupId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/users", "application/json")
      .withPathParam("groupId", groupId)
      .withDefaultSuccessResponse[Any]
        /**
   * Get Refresh History In Group
   * 
   * Expected answers:
   *   code 0 : Any (default)
   * 
   * @param groupId 
   * @param datasetId 
   */
  def getRefreshHistoryInGroup(groupId: String, datasetId: String): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups/{groupId}/datasets/{datasetId}/refreshes", "application/json")
      .withPathParam("groupId", groupId)
      .withPathParam("datasetId", datasetId)
      .withDefaultSuccessResponse[Any]
        /**
   * Returns a list of workspaces the user has access to
   * 
   * Expected answers:
   *   code 200 : InlineResponse200 (default)
   */
  def groupsGetGroups(): ApiRequest[InlineResponse200] =
    ApiRequest[InlineResponse200](ApiMethods.GET, "https://virtserver.swaggerhub.com/helpbi/power_help_bi/1.0.0", "/v1.0/myorg/groups", "application/json")
      .withSuccessResponse[InlineResponse200](200)
      

}

